# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.json

# Virtual environments
venv/
venv311/
virtualenv/
.env

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# HuggingFace cache (optional)
.cache/